* {
  box-sizing: border-box;
}


body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-intro {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto auto auto;
  overflow: auto;
}

.container__img {
  border-radius: 15px 15px 0 0;
  width: 100%
}

.container-game {
  width: 100%;
  background-color: #283e50;
}

.container-game__title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.container-game__text {
  text-align: center;
  color: #ffffff;
}

.container-btn {
  width: 100%;
  height: 50px;
  border: none;
}

.container-btn__rules,
.container-middle__home.icon {
  background-color: #1fcca4;
  margin: 0 0 2px 0;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-btn__rules:hover,
.container-middle__home.icon:hover,
.container-btn__rules:focus,
.container-middle__home.icon:focus {
  background-color: #1cbb96;
  cursor: pointer;
}

.container-btn__play,
.container-middle__restart.icon {
  background-color: #0197f6;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-btn__play:hover,
.container-middle__restart.icon:hover,
.container-btn__play:focus,
.container-middle__restart.icon:focus {
  background-color: #0090e9;
  cursor: pointer;
}

.container-btn__rules .container-link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 15px;

}

/*new styles for hra.html*/
.container-play {
  max-width: 80vmin;
  margin: 1rem auto 2rem auto;
}

.container-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container-middle {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.container-middle .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-middle .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-middle__text {
  text-transform: uppercase;
  color: #fff;
}

.container-middle .icon {
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 4px;
  width: 2rem;
  height: 2rem;
}

.container-middle__circle.icon {
  background-color: transparent;
}

.container-middle img {
  width: 1.5rem;
  height: 1.5rem;
}

.container-playground {
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid #283e50;
}

.container-playground .square {
  width: 10%;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
  border: 1.5px solid #283e50;
}

.container-playground .square:focus,
.container-playground .square:hover {
  opacity: 0.45;
  cursor: pointer;
}
